  
   a{
        text-decoration: none;
        color: black
    }
    a:hover{
        color: blue;
        font-size: larger;
    }
    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        line-height: 1.6;
        color: #333;
    }